<?xml version='1.0' encoding='utf-8'?>
<widget id="io.onsen.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Digital Patrika</name>
    <description>
Digital Patrika    </description>
    <author email="dev@onsen.io" href="http://onsen.io">
        Onsen UI Team
    </author>
    <content src="index.html" />
    <plugin name="Notification" value="org.apache.cordova.Notification"/>
    <plugin name="GCMPlugin" value="com.plugin.GCM.GCMPlugin" />
    <feature name="PushPlugin" >
    <param name="android-package" value="com.amazon.cordova.plugin.PushPlugin"/>
</feature>
<feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <access origin="*" />
</widget>
